/pb_data/
test_pb_data/logs.*
test_pb_data/types.d.ts

/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html
BACKERS.html
