@media screen and (min-width: 1050px) {
    .preview-bar {
        .responsive-only {
            display: none !important;
        }
    }
}
@media screen and (max-width: 1050px) {
    .preview-bar {
        .desktop-only {
            display: none !important;
        }
        .nav-left,
        .nav-right,
        .nav-center {
            position: relative;
            max-width: 100%;
            background: #fff;
        }
        .nav-left {
            float: left;
        }
        .nav-center {
            float: right;
            right: $smallSpacing;
        }
        .nav-right {
            position: absolute;
            z-index: 2;
            top: 0;
            width: auto;
            left: $smallSpacing;
            right: $smallSpacing;
            display: none;
            .dropdown,
            .popover {
                right: 0;
                left: 0;
                width: auto;
                position: fixed;
            }
        }
        .form-group {
            width: auto;
        }
        .visibility-toggle {
            padding: 6px 10px;
        }
        .ctrl-item-info .title {
            max-width: 100%;
        }
        .ctrl-item-screens .screen-title {
            display: none;
        }
        &.responsive-show-more {
            .nav-right {
                display: flex;
            }
        }
    }
    .preview-screen-holder.mobile {
        padding: 0;
        border-radius: 0
    }
    .app-header {
        flex-wrap: wrap;
        .breadcrumbs {
            margin: 10px 10px 10px 0;
        }
        .prototypes-switch {
            flex-grow: 1;
            text-align: right;
        }
    }
}

@media screen and (max-width: 700px) {
    .languages-select .selected-language .language-title {
        display: none !important;
    }
    .screen-comments-panel,
    .floating-bar .comments-panel-toggle {
        display: none;
    }
}
