@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale-entrance {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    70% {
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale-exit {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes translate-entrance {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

@keyframes translate-exit {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);

    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }
}

// Tab animation
@keyframes tab-show {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes tab-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);

    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

// Popup animations
@keyframes popup-show {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes popup-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

// Notification alert animations
@keyframes notification-show {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes notification-hide {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

@keyframes loader-loop {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes primary-color-pulse {
    0% { color: inherit; }
    25% { color: $primaryColor; }
    50% { color: $successColor; }
    75% { color: $dangerColor; }
    100% { color: inherit; }
}

@keyframes popover-show {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes popover-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}


@keyframes access-form-show {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

@keyframes access-form-hide {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
    }
}

@keyframes header-scroll-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-500px);
    }
}
@keyframes header-scroll-show {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes unread-comment-pulse {
    0% {
        box-shadow: 0px 0px 0px 3px rgba($warningColor, 0.4);
    }
    50% {
        box-shadow: 0px 0px 0px 10px rgba($warningColor, 0.4);
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba($warningColor, 0.4);
    }
}

