@include selection(rgba($primaryColor, 0.6), #fff);
@include scrollbar();

html {
    width: 100%;
    height: 100%;
    min-height: 350px;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: $pageMinWidth;
    color: $txtColor;
    font-size: $baseFontSize;
    line-height: 24px;
    font-weight: normal;
    font-family: $baseFont;
    background: $lightGreyColor;
    padding: 0 0 0 $sidebarWidth;
    overflow: hidden;
    // fix osx "bolded" fonts
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.with-secondary-sidebar {
        padding-left: $sidebarWidth + $projectSidebarWidth;
    }
    @media screen and (max-width: $pageMinWidth)  {
        overflow: auto;
        .page-sidebar, .project-sidebar {
            position: absolute;
        }
        &.full-page {
            min-width: 280px;
            overflow: hidden;
        }
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    margin: 10px 0;
}

a, .default-link {
    color: inherit;
    text-decoration: underline;
    @include transition(color 0.2s, background 0.2s);
    &:hover, &:active {
        text-decoration: none;
    }
    &:active {
        transition-duration: 0.1s;
    }
}

hr {
    border: 0;
    outline: 0;
    width: 100%;
    height: 0px;
    margin: $baseSpacing 0;
    border-top: 1px solid $greyColor;
}

.dashed {
    border-style: dashed;
}

.left {
    float: left;
}
.right {
    float: right;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
small, .text-small {
    font-size: 13px;
    line-height: 16px;
}

.danger-link {
    cursor: pointer;
    color: $dangerColor !important;
    text-decoration: none;
    &:hover {
        color: darken($dangerColor, 15%) !important;
    }
}

.block {
    @extend %block;
}

.clear-after {
    @extend %clear-after;
}

.full-height {
    height: 100% !important;
}

.full-vh-height {
    min-height: 100vh;
}

.content {
    @extend %block;
    @extend %clear-after;
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

.hint {
    opacity: 0.7;
}
.hint-link {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
    @include transition(color 0.2s, opacity 0.2s);
    &:hover {
        opacity: 1;
    }
}

.txt {
    display: inline-block;
    vertical-align: top;
}

.pointer {
    cursor: pointer;
}

.clearfix {
    @extend %block;
    @extend %clear-after;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: inherit;
    margin: 0 0 ($baseSpacing / 2);
    strong {
        font-weight: normal;
    }
}
h1 {
    font-size: 26px;
    line-height: 32px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
h3 {
    font-size: 22px;
    line-height: 28px;
}
h4 {
    font-size: 20px;
    line-height: 26px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
}
h6 {
    font-size: 16px;
    line-height: 24px;
}

// Lists
ol {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    list-style-type: decimal;
    li {
        margin: 0 0 5px;
    }
}
ul {
    padding: 0 0 0 20px;
    li {
        margin: 0 0 5px;
        position: relative;
        padding: 0 0 0 20px;
        &:before {
            $size: 5px;
            content: "";
            position: absolute;
            left: 7px;
            top: 9px;
            width: $size;
            height: $size;
            background: $txtColor;
            @include border-radius($size);
        }
    }
}

// Standart table
.table {
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: 10px;
        border: 1px solid $lightGreyColor;
    }
    th {
        font-weight: normal;
        background: $lighterGreyColor;
        i {
            font-size: 18px;
        }
    }
}

.faded {
    opacity: 0.7;
}

.padded {
    padding: $baseSpacing !important;
}

.out-expand {
    width: auto !important;
    margin-left: -$baseSpacing !important;
    margin-right: -$baseSpacing !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

// Margin/Padding helpers
@for $i from 0 through 10 {
    $sidesList: ('left', 'right', 'top', 'bottom');
    @each $side in $sidesList {
        // margin
        .m-#{str-slice($side, 0, 1)}-#{$i * 5} {
            margin-#{$side}: $i * 5px !important;
        }
        // padding
        .p-#{str-slice($side, 0, 1)}-#{$i * 5} {
            padding-#{$side}: $i * 5px !important;
        }
    }
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

// Border radius helpers
.no-radius-t-l {
    @include border-top-left-radius(0 !important);
}
.no-radius-t-r {
    @include border-top-right-radius(0 !important);
}
.no-radius-b-l {
    @include border-bottom-left-radius(0 !important);
}
.no-radius-b-r {
    @include border-bottom-right-radius(0 !important);
}

// Alerts
.alert {
    @extend %block;
    position: relative;
    padding: 11px 50px 11px 15px;
    background: $greyColor;
    color: darken($txtColor, 10%);
    @include border-radius($baseRadius);
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
    &.alert-danger {
        color: #fff;
        background: $dangerColor;
    }
    &.alert-success {
        color: #fff;
        background: $successColor;
    }
    &.alert-warning {
        color: #fff;
        background: $warningColor;
    }
    &.alert-primary {
        color: #fff;
        background: $primaryColor;
    }
    &.alert-secondary {
        color: #fff;
        background: $secondaryColor;
    }
    // helper maring classes to prevent jump animations caused by '.m-b-*'
    &.bottom-margin {
        margin-bottom: $baseSpacing;
    }
    &.top-margin {
        margin-top: $baseSpacing;
    }
    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        line-height: 16px;
        font-size: 13px;
        cursor: pointer;
        opacity: 0.5;
        @include transition(opacity 0.2s);
        &:hover {
            opacity: 1;
        }
    }
}

// notification pin
.pin {
    $size: 22px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: $size;
    height: $size;
    line-height: $size;
    background: $dangerColor;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    background: $greyColor;
    color: darken($txtColor, 10%);
    @include border-radius($size);
    @include box-shadow(0px 0px 6px 0px $greyColor);
    @include animation(scale-entrance 0.4s);
    &.pin-small {
        $size: 18px;
        width: $size;
        height: $size;
        line-height: $size;
        font-size: 11px;
    }

    // colors
    @mixin pinColorize($color) {
        color: #fff;
        background: $color;
        @include box-shadow(0px 0px 6px 0px $color);
    }
    &.pin-danger {
        @include pinColorize($dangerColor);
    }
    &.pin-success {
        @include pinColorize($successColor);
    }
    &.pin-warning {
        @include pinColorize($warningColor);
    }
    &.pin-primary {
        @include pinColorize($primaryColor);
    }
    &.pin-secondary {
        @include pinColorize($secondaryColor);
    }
}

.listing {
    @extend %block;
    @extend %clear-after;
}

// Layout
.full-page {
    padding: 0;
}
.base-wrapper {
    @extend %block;
    @extend %clear-after;
    max-width: 900px;
}
.global-wrapper {
    @extend %clear-after;
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.page-content {
    @extend %clear-after;
    position: relative;
    display: block;
    z-index: auto;
    width: 100%;
    clear: both;
    margin: 0;
    padding: $headerHeight $baseSpacing 0;
    min-height: calc(100% - #{$footerHeight});
    .no-csscalc & {
        height: auto;
    }
}

// Separator inline list
.separator-list {
    @include clear-list;
    @extend %clear-after;
    display: inline-block;
    vertical-align: top;
    li {
        float: left;
        &:after {
            content: "|";
            margin: 0 10px;
            color: $greyColor;
        }
        &:last-child:after {
            content: none;
            display: none;
        }
    }
}

// Table layout
.table-wrapper {
    display: table !important;
    width: 100%;
    height: 100%;
    .table-cell {
        display: table-cell !important;
        vertical-align: middle;
        &.delimiter {
            width: 1%;
            vertical-align: middle;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 1px;
                height: 50%;
                margin: 0 20px;
                background: $greyColor;
            }
        }
    }
    .min-width {
        width: 1%;
        white-space: nowrap;
    }
    .max-width {
        width: 99%;
    }
}

// Flexbox layout
.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .full-height {
        flex: 1;
    }
}

// Thumb
.thumb {
    $size: 45px;
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    text-align: center;
    overflow: hidden;
    background: $lighterGreyColor;
    border: 2px solid #fff;
    @include border-radius($baseRadius);
    @include box-shadow(0px 3px 10px 0px rgba(44, 75, 137, 0.07));
    &:before {
        content: "\f147";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        font-family: $iconFont;
        font-size: 16px;
        color: $greyColor;
        @include transform(translate(-50%, -50%));
    }
    &.has-img:before {
        display: none;
    }
    img {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        height: 100%;
        width: 100%;
        margin: 0;
        @include transform(translate(-50%, -50%));
    }
    &.large {
        $size: 100px;
        width: $size;
        height: $size;
    }
    &.circle {
        @include border-radius(50%);
    }
}

// Avatars
.avatar {
    $size: 46px;
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    line-height: $size - 4;
    text-align: center;
    color: $greyColor;
    background: #fff;
    overflow: hidden;
    border: 2px solid $greyColor;
    @include border-radius(50%);
    &:before {
        content: "\f3a0";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        font-family: $iconFont;
        font-size: $baseFontSize;
        color: inherit;
        @include transform(translate(-50%, -50%));
    }
    &[data-txt]:before {
        content: attr(data-txt);
        font-family: $baseFont;
        font-size: $baseFontSize;
        font-weight: normal;
        text-transform: uppercase;
    }
    &.has-img:before {
        display: none;
    }
    img {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        height: 100%;
        width: 100%;
        margin: 0;
        @include transform(translate(-50%, -50%));
    }
    &.small {
        $size: 32px;
        width: $size;
        height: $size;
        line-height: $size - 4;
        &:before {
            font-size: 12px;
        }
    }
    &.large {
        $size: 100px;
        width: $size;
        height: $size;
        line-height: $size - 4;
        &:before {
            font-size: 18px;
        }
    }
}

// Panels
.panel {
    @extend %block;
    @extend %clear-after;
    @include panel;
    border: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    &.panel-sm {
        width: 400px;
    }
    &.panel-md {
        width: 550px;
    }
    &.panel-lg {
        width: 800px;
    }
}
.panel-title {
    @extend %block;
    @extend %clear-after;
    margin: 0 0 $baseSpacing;
}

// backgrounds
.bg-success {
    background: $successColor;
}
.bg-danger {
    background: $dangerColor;
}
.bg-warning {
    background: $warningColor;
}
.bg-primary {
    background: $primaryColor;
}
.bg-secondary {
    background: $secondaryColor;
}
.bg-grey {
    background: $greyColor;
}
.bg-light-grey {
    background: $lightGreyColor;
}
.bg-lighter-grey {
    background: $lighterGreyColor;
}

.danger-highlight {
    outline: 2px solid $dangerColor;
}

// Dropdown menu
.dropdown-handle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.dropdown-menu {
    min-width: 150px;
    max-width: 200px;
    position: absolute;
    z-index: 999999;
    left: auto;
    bottom: auto;
    top: 100%;
    right: 0;
    margin-top: 0;
    font-size: $baseFontSize;
    line-height: 24px;
    color: $txtColor;
    text-align: left;
    @include panel;
    @include transition(opacity 0.2s, visibility 0.2s, transform 0.2s);
    @include hide;
    @include transform(translateY(10px));
    &:before {
        content: "";
        position: absolute;
        right: 8px;
        top: 1px;
        @include arrow-border(4px, white, top);
    }
    ul {
        @include clear-list;
        @extend %block;
        li {
            @extend %block;
            @include ellipsis;
            border-bottom: 1px solid $lightGreyColor;
            a {
                @extend %block;
                max-width: 100%;
                padding: 8px 10px;
                text-decoration: none;
                @include ellipsis;
                &:hover {
                    background: $lighterGreyColor;
                }
                &:active {
                    background: $lightGreyColor;
                }
            }
            &:first-child {
                a {
                    @include border-top-right-radius($baseRadius);
                    @include border-top-left-radius($baseRadius);
                }
            }
            &:last-child {
                border-bottom: 0;
                a {
                    @include border-bottom-right-radius($baseRadius);
                    @include border-bottom-left-radius($baseRadius);
                }
            }
        }
    }
    i, .txt {
        display: inline;
        vertical-align: middle;
    }
    i {
        margin-right: 5px;
    }
    .danger-link {
        @include transition(color 0.2s, background 0.2s);
        &:hover {
            background: lighten($dangerColor, 24%);
        }
        &:active {
            background: lighten($dangerColor, 22%);
        }
    }

    // layouts
    &.small {
        min-width: 0;
        font-size: 12px;
        line-height: 14px;
    }
    &.compact {
        ul li {
            border: 0;
            a {
                padding-top: 7px;
                padding-bottom: 7px;
            }
        }
    }

    // active state
    &.active {
        @include show;
        @include transform(translateY(0));
    }
}

// Circle icon
.circle-icon {
    $size: 50px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    width: $size;
    height: $size;
    line-height: $size;
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(#fff, 0.2);
    @include border-radius($size);
    i {
        font-size: 26px;
        line-height: inherit;
    }
}

// Ctrl|Buttons group
.ctrl-group {
    $height: 35px;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: $height;
    line-height: $height - 2px;
    border: 1px solid $greyColor;
    font-size: 0; /* clear whitespaces */
    @include border-radius($baseRadius);
    .ctrl-item {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        min-width: 55px;
        vertical-align: top;
        cursor: pointer;
        font-size: $baseFontSize;
        line-height: inherit;
        border-right: 1px solid $greyColor;
        text-align: center;
        @include transition(color 0.2s, background 0.2s);
        &:last-child {
            border-right: 0;
        }
        &:hover {
            background: darken($lightGreyColor, 2%);
        }
        &:active {
            transition-duration: 0.1s;
            background: darken($lightGreyColor, 3.5%);
        }
        i {
            font-size: 20px;
            line-height: inherit;
            vertical-align: top;
            &.ion-android-share-alt {
                font-size: 18px;
            }
            &[class*="ion-ios-"] {
                font-size: 23px;
            }
        }
    }
}

// Filters
.filters {
    @extend %clear-after;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .label, .filter-item {
        display: inline-block;
        vertical-align: top;
        margin: 0 3px;
    }
    .label {
        margin-left: 0;
    }
    .filter-item {
        cursor: pointer;
        color: #fff;
        padding: 2px 5px;
        font-size: 11px;
        font-weight: bold;
        line-height: 18px;
        background: $greyColor;
        @include user-select(none);
        @include border-radius($baseRadius);
        @include transition(color 0.2s, background 0.2s);
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: darken($greyColor, 10%);
        }
        &:active,
        &.active {
            color: #fff;
            background: $successColor;
        }
    }
}

// Basic popover
.popover {
    $arrowDistance: 15px;
    @include panel;
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
    }
    .popover-close {
        position: absolute;
        z-index: 99999;
        right: 0;
        top: -18px;
        color: #fff;
        font-size: $baseFontSize;
        line-height: 1;
        cursor: pointer;
        text-decoration: none;
        @include transition(transform 0.2s);
        &:hover {
            @include transform(scale(1.4));
        }
    }

    // h-arrow
    &.right-top:before,
    &.right-bottom:before {
        bottom: auto;
        left: auto;
        top: $arrowDistance;
        right: -2px;
        @include arrow-border(4px, white, right);
    }
    &.left-top:before,
    &.left-bottom:before {
        bottom: auto;
        right: auto;
        top: $arrowDistance;
        left: -5px;
        @include arrow-border(4px, white, left);
    }
    &.left-bottom:before,
    &.right-bottom:before {
        top: auto;
        bottom: $arrowDistance;
    }
    // v-arrow
    &.top-left:before,
    &.top-right:before,
    &.bottom-left:before,
    &.bottom-right:before {
        bottom: auto;
        left: auto;
        top: 0;
        right: $arrowDistance;
        @include arrow-border(4px, white, top);
    }
    &.bottom-left:before,
    &.bottom-right:before {
        top: 100%;
        @include arrow-border(4px, white, bottom);
    }
    &.top-left:before,
    &.bottom-left:before {
        right: auto;
        left: $arrowDistance;
    }
}
// Popover thumb
.popover-thumb {
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($overlayColor, 0.6);
        @include border-radius($baseRadius);
        @include transition(opacity 0.3s, visibility 0.3s);
        @include hide;
    }
    &:after {
        $iconSize: 25px;
        content: "\f120";
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        margin-top: -($iconSize / 2);
        margin-left: -($iconSize / 2);
        width: $iconSize;
        height: $iconSize;
        line-height: $iconSize;
        text-align: center;
        color: $successColor;
        font-size: 19px;
        font-family: $iconFont;
        @include transition(opacity 0.3s, visibility 0.3s, transform 0.3s);
        @include transform(translateY(10px));
        @include hide;
    }
    .featured:after {
        font-size: 34px;
    }
    &.active {
        &:before {
            @include show;
        }
        &:after {
            @include show;
            @include transform(translateY(0px));
        }
    }
}

/* ---- Social links ---- */
.facebook-link,
.google-link {
    font-size: $baseFontSize;
    text-decoration: none;
    i {
        font-size: 19px;
        font-weight: normal;
        vertical-align: middle;
        margin: -3px 5px 0 0;
    }
}
.facebook-link {
    $color: #3b5998;
    color: $color;
    &:hover {
        color: lighten($color, 10%);
    }
}
.google-link {
    $color: #e45353;
    color: $color;
    &:hover {
        color: darken($color, 15%);
    }
}


/* ---- Profile card ---- */
.profile-card {
    $avatarSize: 85px;
    @include panel;
    position: relative;
    border: 0;
    width: 300px;
    max-width: 100%;
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    // Avatar
    .avatar {
        width: $avatarSize;
        height: $avatarSize;
        line-height: $avatarSize;
    }
    .avatar-wrapper {
        @extend %block;
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: ($baseSpacing + 20) 0 0;
        @include border-top-left-radius($baseRadius);
        @include border-top-right-radius($baseRadius);
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: ($baseSpacing + 20) + ($avatarSize / 2);
            padding: $baseSpacing;
            background: $lighterGreyColor url('../images/pattern.png');
        }
    }
    // Content
    .content {
        padding: ($baseSpacing / 2) $baseSpacing $baseSpacing $baseSpacing;
    }
}

.loader {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 150px;
    height: 13px;
    background: red;
    overflow: hidden;
    background: $lightGreyColor;
    border: 1px solid $greyColor;
    @include border-radius(30px);
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background: $successColor;
        @include border-radius(30px);
        display: none;
    }
    &.active,
    .upload-container.loading & {
        &:before {
            display: block;
            @include animation(loader-loop 1s infinite);
        }
    }
}

.upload-container {
    @extend %block;
    cursor: pointer;
    color: $txtColor;
    text-decoration: none;
    padding: 10px;
    height: 200px;
    background: $lighterGreyColor;
    border: 2px dashed $greyColor;
    @include v-align-helper;
    @include user-select(none);
    @include border-radius($baseRadius);
    @include transition(background 0.2s);
    .content {
        color: inherit;
        text-align: center;
        i {
            color: $greyColor;
            font-size: 52px;
            line-height: 1;
        }
    }
    .loader-wrapper {
        display: none;
    }
    &:hover {
        background: $lightGreyColor;
    }
    &:active {
        background: darken($lightGreyColor, 2%);
    }
    &.loading {
        background: $lightGreyColor;
        .content {
            display: none;
        }
        .loader-wrapper {
            display: inline-block;
        }
    }
}

// Dropzone
.preview-container {
    @extend %block;
    position: relative;
    text-align: center;
    min-height: 100px;
    text-align: center;
    .preview-image {
        @extend %block;
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        height: auto;
        @include transition(opacity 0.3s);
        @include border-radius($baseRadius);
    }
    .preview-image-wrapper {
        @extend %block;
        position: relative;
        overflow: hidden;
        background: $lighterGreyColor;
        border: 2px dashed $greyColor;
        @include border-radius($baseRadius);
    }
    .preview-remove {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0;
    }
}

.notifications-wrapper {
    display: block;
    position: fixed;
    z-index: 9999999999;
    width: auto;
    height: auto;
    max-width: 300px;
    right: $baseSpacing;
    bottom: $baseSpacing;
    .alert {
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: $baseSpacing / 2;
        line-height: 20px;
        @include animation(notification-show 0.4s forwards);
        &.remove-start {
            @include animation(notification-hide 0.4s forwards);
        }
    }
}

// Lazy load
img.lazy-load {
    @include hide;
    .loaded & {
        @include show;
        @include animation(fade-in 0.3s);
    }
}

.fixed-panel {
    position: fixed;
    z-index: 100;
    width: auto;
    padding: 10px 50px 10px $baseSpacing;
    right: 0;
    bottom: 0;
    background: #fff;
    left: $sidebarWidth;
    border: 1px solid $greyColor;
    @include border-radius(0);
    .with-secondary-sidebar & {
        left: $sidebarWidth + $projectSidebarWidth - 1;
    }
    .close {
        $height: 25px;
        position: absolute;
        right: 20px;
        top: 50%;
        cursor: pointer;
        height: $height;
        line-height: $height;
        margin-top: -($height / 2);
        color: $txtColor;
        @include transition(color 0.2s, transform 0.2s);
        &:hover {
            color: $dangerColor;
            @include transform(scale 1.2);
        }
    }
    .reset-link {
        display: inline-block;
        vertical-align: top;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .versions-select {
        clear: none;
        width: auto;
        display: inline-block;
        vertical-align: top;
        min-width: 150px;
    }
}

.visible-on-scroll {
    @include hide;
    .scrolling & {
        @include show;
    }
}


.global-loader {
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba($overlayColor, 0.5);
    i {
        $size: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: $size;
        height: $size - 1; // visual alignment
        line-height: $size;
        text-align: center;
        font-size: $size;
        color: #fff;
        margin-top: -($size / 2);
        margin-left: -($size / 2);
    }
    &.active {
        display: block;
        @include animation(fade-in 0.4s);
        i {
            @include animation(spinner 1s linear infinite);
        }
    }
    &.close-start {
        @include animation(fade-out 0.4s);
    }
}

// Cursor tooltip
.cursor-tooltip {
    position: fixed;
    z-index: 99999999999999;
    padding: 5px;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    max-width: 200px;
    background: rgba($overlayColor, 0.8);
    @include border-radius($baseRadius);
    @include user-select(none);
    @include pointer-events(none);
    @include hide;
    @include transition(opacity 0.2s, visibility 0.2s, background 0.2s);
    &.active {
        @include show;
    }
    &.primary-tooltip {
        background: rgba($primaryColor, 0.8);
    }
    &.secondary-tooltip {
        background: rgba($secondaryColor, 0.8);
    }
    &.success-tooltip {
        background: rgba($successColor, 0.8);
    }
    &.warning-tooltip {
        background: rgba($warningColor, 0.8);
    }
    &.danger-tooltip {
        background: rgba($dangerColor, 0.8);
    }
}

// Table
.table-list {
    width: 100%;
    text-align: left;
    td, th {
        background: inherit;
        padding: 10px 20px;
        border-bottom: 1px solid $lighterGreyColor;
    }
    th {
        font-weight: bold;
    }
    td.min-width, th.min-width {
        width: 1%;
        white-space: nowrap;
    }
    td.max-width, th.max-width {
        width: 99%;
    }
    tr:last-child {
        td {
            border-bottom: 0;
        }
        td:first-child {
            @include border-bottom-left-radius($baseRadius);
        }
        td:first-child {
            @include border-bottom-right-radius($baseRadius);
        }
    }
    tbody tr {
        background: #fff;
        @include transition(background 0.2s);
        &:hover {
            background: $lighterGreyColor;
        }
    }
}

.marker {
    $size: 10px;
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    background: $greyColor;
    @include border-radius($size);
    @include box-shadow(0px 0px 5px 0px $greyColor);
    &.marker-success {
        background: $successColor;
        @include box-shadow(0px 0px 5px 0px $successColor);
    }
    &.marker-danger {
        background: $dangerColor;
        @include box-shadow(0px 0px 5px 0px $dangerColor);
    }
    &.marker-warning {
        background: $warningColor;
        @include box-shadow(0px 0px 5px 0px $warningColor);
    }
    &.marker-primary {
        background: $primaryColor;
        @include box-shadow(0px 0px 5px 0px $primaryColor);
    }
}

/* ---- Users list ---- */
.users-list {
    @extend %block;
    .user-list-item {
        position: relative;
        padding: ($baseSpacing / 2) 0;
        border-bottom: 1px solid $lightGreyColor;
        .avatar {
            margin-right: 10px;
            @include transition(border 0.2s);
        }
        .remove-handle {
            display: inline-block;
            vertical-align: top;
            padding: 5px;
            font-size: 16px;
            cursor: pointer;
            color: $txtColor;
            @include transition(color 0.2s, transform 0.2s);
            @include user-select(none);
            &:hover {
                color: $dangerColor;
            }
            &:active {
                transition-duration: 0.1s;
                @include transform(scale(1.1));
            }
        }
        &.highlight {
            &:after {
                content: "\f36b";
                position: absolute;
                left: 0;
                top: -2px;
                color: $primaryColor;
                font-size: 16px;
                line-height: 1;
                font-family: $iconFont;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
        &:first-child:last-child {
            .remove-handle {
                display: none;
            }
        }
        &:hover {
            .avatar {
                border-color: $primaryColor;
            }
        }
    }
}
