/* ---- Context menu ---- */
.context-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    min-width: 50px;
    max-width: 200px;
    color: $txtColor;
    font-size: 13px;
    text-align: left;
    line-height: 20px;
    @include panel;
    @include hide;
    .menu-item {
        @extend %block;
        @extend %clear-after;
        @include ellipsis;
        max-width: 100%;
        padding: 7px 10px;
        cursor: pointer;
        line-height: inherit;
        text-decoration: none;
        &:hover {
            background: $lighterGreyColor;
        }
        &:active {
            background: $lightGreyColor;
        }
        &:first-child {
            @include border-top-left-radius($baseRadius);
            @include border-top-right-radius($baseRadius);
        }
        &:last-child {
            @include border-bottom-left-radius($baseRadius);
            @include border-bottom-right-radius($baseRadius);
        }
        &.danger-link {
            @include transition(color 0.2s, background 0.2s);
            &:hover {
                background: lighten($dangerColor, 24%);
            }
            &:active {
                background: lighten($dangerColor, 22%);
            }
        }
    }
    i, .txt {
        display: inline-block;
        vertical-align: top;
        line-height: inherit;
    }
    i {
        margin-right: 5px;
    }

    // States
    &.active {
        @include show;
    }
}

/* ---- Global context menu wrapper */
.global-context-menu-wrapper {
    position: fixed;
    z-index: 999999;
    width: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: none;
    @include user-select(none);
    &.active {
        display: block;
    }
}
