/* ---- Control panel ---- */
.control-panel {
    @include panel;
    position: relative;
    z-index: 1;
    width: 100%;
    border: 0;
    text-align: center;
    .panel-content,
    .panel-menu {
        @extend %block;
        @extend %clear-after;
        position: relative;
    }
    .panel-content {
        background: $lighterGreyColor;
    }
    .panel-menu {
        height: $controlPanelMenuHeight;
        line-height: $controlPanelMenuHeight;
        @include transition(height 0.2s, line-height 0.2s);
    }

    // Control items wrapper
    .ctrl-wrapper {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        ul {
            @include clear-list;
            display: inline-block;
            vertical-align: top;
            height: inherit;
        }
        i {
            position: relative;
            vertical-align: top;
            line-height: inherit;
            font-size: 16px;
        }
        select {
            width: auto;
            min-width: 60px;
            border: 0;
            height: 100%;
            padding-right: 30px;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 98% 50%;
            background-size: 15px;
            @include appearance(none);
            @include border-radius(0);
        }
        .ctrl-item {
            position: relative;
            float: left;
            clear: none;
            padding: 0 ($baseSpacing / 2);
            min-width: 50px;
            cursor: pointer;
            text-align: center;
            height: inherit;
            line-height: inherit;
            color: $txtColor;
            @include transition(color 0.2s, background 0.2s);
            &:hover {
                background: $lighterGreyColor;
            }
            &:active {
                transition-duration: 0.1s;
                background: $lightGreyColor;
            }
            .inactive-icon {
                display: inline-block;
            }
            .active-icon {
                display: none;
            }
            &.active {
                color: $successColor;
                .inactive-icon {
                    display: none;
                }
                .active-icon {
                    display: inline-block;
                }
            }
            .form-group {
                margin: 0;
                height: auto;
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
            }
            .active-slide-title {
                @include ellipsis();
                max-width: 160px;
            }
        }

        // Sides
        &.ctrl-left,
        &.ctrl-right {
            position: absolute;
            left: 0;
            top: 0;
        }
        &.ctrl-right {
            left: auto;
            right: 0;
        }
        &.ctrl-center {
            .ctrl-item {
                min-width: 60px;
                border-right: 1px solid $lightGreyColor;
                &:first-child {
                    border-left: 1px solid $lightGreyColor;
                }
                &.active {
                    background: $lighterGreyColor;
                }
                &.screens-handle.active {
                    background: none;
                }
            }
            i {
                font-size: 20px;
            }
        }
    }

    // Specific control items
    .ctrl-item {
        &.ctrl-text {
            cursor: default;
            &:hover,
            &:active {
                background: none;
            }
        }
        &.preview-handle,
        &.hotspots-handle {
            .bubble {
                color: #fff;
                background: $primaryColor;
            }
            &.active {
                color: $primaryColor;
                @include topHighlight($primaryColor);
            }
        }
        &.comments-handle {
            .bubble {
                color: #fff;
                background: $dangerColor;
            }
            &.active {
                color: $dangerColor;
                @include topHighlight($dangerColor);
            }
        }
        &.screens-handle {
            &.active {
                background: none;
            }
             &:hover {
                background: $lighterGreyColor;
            }
            &:active {
                transition-duration: 0.1s;
                background: $lightGreyColor;
            }
        }
        &.info-handle {
            & > i {
                font-size: 20px;
            }
        }
    }

    .bubble {
        $size: 16px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 5px;
        width: $size;
        height: $size;
        color: $txtColor;
        line-height: $size;
        font-size: 11px;
        font-family: $baseFont;
        background: $lightGreyColor;
        margin-left: 14.5px - ($size / 2);
        @include border-radius($size);
    }

    // Dropdowns
    .info-dropdown {
        right: auto;
        left: 0;
        padding: 15px;
        max-width: 400px;
        white-space: nowrap;
        cursor: default;
        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
        &:before {
            right: auto;
            left: 18px;
        }
        i {
            font-size: 20px;
        }
        i.ion-md-home {
            font-size: 17px;
        }
        .title {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            line-height: 24px;
            @include ellipsis;
        }
    }
    .ctrl-item:hover .info-dropdown {
        display: block;
        @include show;
        @include transform(translateY(0));
    }
    .project-user {
        margin: 0;
        padding: ($baseSpacing / 2) 0;
        border-bottom: 1px solid $lightGreyColor;
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $primaryColor;
            }
        }
        i {
            vertical-align: middle;
        }
    }

    // Custom selects
    .select-field {
        border: 0;
        height: 100%;
        line-height: inherit;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        background: none;
        max-width: 210px;
        &:after {
            right: 10px;
        }
    }
    .select-dropdown {
        margin-top: 0;
        width: auto;
        min-width: 100%;
        max-width: 210px;
        line-height: 20px;
        white-space: nowrap;
        .option {
            @include ellipsis;
        }
    }

    // States/Layouts
    &.expanded {
        .panel-content {
            display: block;
        }
    }

    // @todo refact panel responsive styles

    @media screen and (max-width: 1100px)  {
        .screen-info {
            display: none;
        }
    }

    @media screen and (max-width: 700px)  {
        .resolved-comments-toggle-wrapper {
            .form-group {
                width: auto;
                label .txt {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 500px)  {
        .resolved-comments-toggle-wrapper {
            .form-group {
                input[type="checkbox"] ~ label {
                    padding-left: 21px;
                    font-size: 0;
                }
            }
        }

        .ctrl-wrapper.ctrl-center,
        .ctrl-wrapper.ctrl-left,
        .ctrl-wrapper.ctrl-right {
            .ctrl-item {
                min-width: 50px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .ctrl-item.info-handle {
            display: none;
        }
        .select-field {
            max-width: 100px;
        }
        .select-dropdown {
            max-width: none;
            position: fixed;
            top: auto;
        }
    }
}
