.version-screens-wrapper {
    @extend %block;
    @extend %clear-after;
    position: relative;
}

// Preview links (Project share)
.preview-links-wrapper .preview-link {
    &.view {
        display: inline-block;
    }
    &.view-and-comment {
        display: none;
    }
}
.preview-links-toggle {
    &:checked ~ .preview-links-wrapper .preview-link{
        &.view {
            display: none;
        }
        &.view-and-comment {
            display: inline-block;
        }
    }
}


// Search bar
.search-bar {
    $iconSize: 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 0 $baseSpacing;
    label {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .search-icon {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        left: 10px;
        top: 50%;
        z-index: 1;
        margin-top: -($iconSize / 2);
        line-height: 1;
        cursor: pointer;
        height: $iconSize;
        width: $iconSize;
        font-size: 29px;
        text-align: center;
        text-decoration: none;
        line-height: $iconSize;
        @include transition(color 0.2s, transform 0.2s);
        @include transform(scale(0.9));
        &:hover,
        &:active {
            color: $primaryColor;
            @include transform(scale(1));
        }
        &:active {
            transition-duration: 0.1s;
        }
    }
    .search-clear {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        z-index: 2;
        right: 10px;
        top: 50%;
        font-size: 16px;
        line-height: $iconSize;
        margin-top: -($iconSize / 2);
        color: $greyColor;
        cursor: pointer;
        color: $dangerColor;
        @include transition(color 0.2s);
        @include transition(color 0.2s, transform 0.2s, visibility 0.2s, opacity 0.2s);
        @include transform(scale(0.4));
        @include hide;
    }
    .search-input {
        float: left;
        position: relative;
        z-index: 0;
        margin: 0;
        padding: 0 ($iconSize + 20);
        width: 100%;
        height: 100%;
        line-height: 1;
        font-size: 16px;
        opacity: 0.5;
        color: $txtColor;
        border: 1px solid transparent;
        @include border-radius($baseRadius);
        @include transition(opacity 0.2s, color 0.2s, box-shadow 0.3s, border 0.3s);
        &:focus {
            opacity: 1;
            color: $primaryColor;
            border: 1px solid $primaryColor;
        }
    }
    &.has-value {
        .search-input {
            opacity: 0.8;
        }
        .search-clear {
            @include show;
            @include transform(scale(1));
            &:hover {
                transition-duration: 0.1s;
                @include transform(scale(1.2));
            }
        }
    }
    &.focus {
        .search-input {
            opacity: 1;
        }
        .search-icon {
            color: $primaryColor;
            @include transform(scale(1));
        }
    }
}


// Dashboard widgets
.dashboard-widget {
    width: 100%;
}
.comments-widget {
    @include panel;
    border: 0;
    overflow: auto;
    max-height: 375px;
}

// Hotspots bulk panel
.hotspots-bulk-panel {
    left: 0 !important;
    width: 100%;
}

// Welcome panel
.welcome-panel {
    position: relative;
    margin: (2 * $baseSpacing) auto;
    width: 450px;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
    font-size: 15px;
    align-self: center;
    .featured {
        display: inline-block;
        vertical-align: top;
        opacity: 0.2;
        margin: 0 0 ($baseSpacing / 2);
    }
}

// Projects list
.projects-list {
    @extend %block;
    @extend %clear-after;
    @include items-per-row(7);
    @media screen and (max-width: 2300px)  {
        @include items-per-row(5);
    }
    @media screen and (max-width: 1600px)  {
        @include items-per-row(4);
    }
    @media screen and (max-width: 1300px)  {
        @include items-per-row(3);
    }
    @media screen and (max-width: 1000px)  {
        @include items-per-row(2);
    }
}

// Screens list
.screens-list {
    @extend %block;
    @extend %clear-after;
    @include items-per-row(7);
    @media screen and (max-width: 2300px)  {
        @include items-per-row(5);
    }
    @media screen and (max-width: 1600px)  {
        @include items-per-row(4);
    }
    @media screen and (max-width: 1300px)  {
        @include items-per-row(3);
    }
    @media screen and (max-width: 1000px)  {
        @include items-per-row(2);
    }
}
