.page-footer {
    @extend %block;
    position: relative;
    z-index: 2;
    clear: both;
    width: 100%;
    height: $footerHeight;
    margin: 0;
    padding: $baseSpacing;
    font-size: 12px;
    line-height: 30px;
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .icon-link {
        text-decoration: none;
        .txt, i {
            display: inline-block;
            vertical-align: middle;
        }
        .txt {
            text-decoration: underline;
        }
        i {
            font-size: 16px;
            margin-right: 5px;
        }
        &:hover {
            .txt {
                text-decoration: none;
            }
        }
        &.heart-link {
            i {
                font-size: 14px;
            }
        }
    }

    // Credits
    .credits {
        float: right;
        opacity: 0.5;
        @include transition(opacity 0.2s);
        &:hover {
            opacity: 1;
        }
    }

    // Links
    .links {
        float: left;
    }

    // language switch widget
    .language-widget {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-size: inherit;
        label, select, .custom-select {
            display: inline-block;
            vertical-align: middle;
            clear: none;
            width: auto;
            font-size: inherit;
            margin: -1px 0 0; /* visual alignment fix */
        }
        label {
            margin-right: 5px;
        }
        .custom-select {
            width: 142px;
            text-align: left;
        }
        select, .select-field {
            $height: 30px;
            $vSpacing: 10px;
            height: $height;
            font-size: inherit;
            line-height: $height - $vSpacing;
            background: $greyColor;
            @include transition(background 0.2s);
        }
        .active .select-field {
            background: #fff;
        }
        .select-dropdown {
            top: auto;
            bottom: 100%;
            margin-bottom: -2px;
            @include border-radius($baseRadius);
            @include border-bottom-left-radius(0);
            @include border-bottom-right-radius(0);
            @include box-shadow(0px -3px 10px 0px rgba(44, 75, 137, 0.1));
            .option {
                padding: 5px 10px;
                line-height: 19px;
            }
        }
    }
}
