label {
    @extend %block;
    padding: 0;
    margin: 0 0 10px;
    line-height: 20px;
}

form {
    @extend %block;
    @extend %clear-after;
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
    .reset-form-handle {
        display: none;
    }
    &.is-dirty {
        .reset-form-handle {
            display: block;
        }
    }
}

/* ---- Buttons ---- */
button, .btn {
    position: relative;
    z-index: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: $inputHeight;
    padding: 0 $baseSpacing;
    line-height: $inputHeight;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-family: $baseFont;
    background: $txtColor;
    @include user-select(none);
    @include border-radius(30px);
    @include transition(color 0.2s, background 0.2s, transform 0.2s, box-shadow 0.2s, width 0.3s);
    &:hover {
        color: #fff;
        background: darken($txtColor, 8%);
    }
    &:active {
        color: #fff;
        transition-duration: 0.1s;
        background: darken($txtColor, 12%);
    }
    &.btn-disabled {
        opacity: 0.7;
        @include pointer-events(none);
    }
    &.btn-square {
        @include border-radius($baseRadius);
    }
    // colors
    &.btn-success {
        background: $successColor;
        &:hover {
            background: darken($successColor, 10%);
        }
        &:active {
            background: darken($successColor, 15%);
        }
    }
    &.btn-danger {
        background: $dangerColor;
        &:hover {
            background: darken($dangerColor, 5%);
        }
        &:active {
            background: darken($dangerColor, 8%);
        }
    }
    &.btn-warning {
        background: $warningColor;
        &:hover {
            background: lighten($warningColor, 5%);
        }
        &:active {
            background: lighten($warningColor, 13%);
        }
    }
    &.btn-primary {
        background: $primaryColor;
        &:hover {
            background: darken($primaryColor, 3%);
        }
        &:active {
            background: darken($primaryColor, 5%);
        }
    }
    &.btn-secondary {
        background: $secondaryColor;
        &:hover {
            background: darken($secondaryColor, 5%);
        }
        &:active {
            background: darken($secondaryColor, 10%);
        }
    }
    &.btn-ghost {
        color: $txtColor;
        background: none;
        border: 2px solid $greyColor;
        line-height: $inputHeight - 4;
        &:hover { background: rgba($greyColor, 0.4); }
        &:active { background: rgba($greyColor, 0.6); }
        &.btn-success {
            @include btn-ghost-coloring($successColor);
        }
        &.btn-danger {
            @include btn-ghost-coloring($dangerColor);
        }
        &.btn-warning {
            @include btn-ghost-coloring($warningColor);
        }
        &.btn-primary {
            @include btn-ghost-coloring($primaryColor);
        }
        &.btn-secondary {
            @include btn-ghost-coloring($secondaryColor);
        }
        &.btn-white {
            @include btn-ghost-coloring(#fff);
        }
    }
    // sizes
    &.btn-cons {
        min-width: 200px;
    }
    &.btn-lg {
        font-size: 15px;
        height: $lgInputHeight;
        line-height: $lgInputHeight;
        &.btn-cons {
            min-width: 300px;
        }
        &.btn-ghost, &.btn-ghost-white {
            line-height: $lgInputHeight - 4;
        }
    }
    &.btn-sm {
        height: $smInputHeight;
        line-height: $smInputHeight;
        &.btn-cons {
            min-width: 150px;
        }
        padding: 0 $baseSpacing;
        &.btn-ghost, &.btn-ghost-white {
            line-height: $smInputHeight - 4;
        }
    }
    &.btn-xs {
        height: $xsInputHeight;
        line-height: $xsInputHeight;
        padding: 0 ($baseSpacing / 2);
        &.btn-cons {
            min-width: 130px;
        }
        &.btn-ghost, &.btn-ghost-white {
            line-height: $xsInputHeight - 4;
        }
    }
    &.btn-label {
        $height: 27px;
        vertical-align: middle;
        height: $height;
        line-height: $height;
        padding: 0 ($baseSpacing / 2);
        font-size: 13px;
        &.btn-cons {
            min-width: 130px;
        }
        &.btn-ghost, &.btn-ghost-white {
            line-height: $height - 4px;
        }
    }
    // loader
    &.btn-loader {
        overflow: hidden;
        .progress {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            height: 100%;
            width: 0%;
            background: rgba(#fff, 0.3);
            @include transition(width 0.4s);
            @include transform(translateX(0%));
            display: none;
            &.anim-end {
                width: 100% !important;
                @include transform(translateX(100%));
                @include transition(opacity 0.4s, width 0.4s, transform 0.4s 0.4s);
            }
        }
        &.loading {
            .progress {
                display: block;
            }
        }
    }
}

// Buttons group
.btn-group {
    $height: 32px;
    display: flex;
    height: $height;
    line-height: $height - 2;
    border: 1px solid $greyColor;
    @include border-radius($baseRadius);
    .item {
        flex: 1;
        cursor: pointer;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
        text-decoration: none;
        border-left: 1px solid $greyColor;
        background: $lighterGreyColor;
        @include box-shadow(inset 0px 1px 0px #fff);
        @include transition(background 0.2s, color 0.2s);
        i {
            line-height: inherit;
            vertical-align: top;
            font-size: 16px;
            &.ion-link {
                font-size: 18px;
                color: $primaryColor;
            }
            &.ion-android-share-alt {
                color: $successColor;
            }
        }
        &:first-child {
            border-left: 0;
            @include border-top-left-radius($baseRadius);
            @include border-bottom-left-radius($baseRadius);
        }
        &:last-child {
            @include border-top-right-radius($baseRadius);
            @include border-bottom-right-radius($baseRadius);
        }
        &:hover {
            background: $lightGreyColor;
        }
        &:active {
            transition-duration: 0.1s;
            background: darken($lightGreyColor, 2%);
        }
    }
}

/* ---- Input elems ---- */
input, textarea, select {
    $lineHeight: 22px;
    display: inline-block;
    vertical-align: top;
    outline: 0;
    border: 1px solid $greyColor;
    margin: 0;
    padding: 5px 10px;
    width: 250px;
    height: $inputHeight;
    line-height: $lineHeight;
    color: $txtColor;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    font-family: $baseFont;
    background: #fff;
    @include border-radius($baseRadius);
    @include transition(color 0.2s, background 0.2s, border 0.2s, box-shadow 0.3s);
    @include placeholder(lighten($txtColor, 20%));
    &:focus {
        color: darken($txtColor, 20%);
        @include box-shadow(0px 2px 8px 0px rgba(44, 75, 137, 0.15));
    }
    &[readonly], &[disabled] {
        background: $lighterGreyColor;
    }
    &[disabled] {
        @include user-select(none);
        &:focus {
            border-color: $greyColor;
        }
    }
}
select {
    padding-left: 5px;
    option {
        color: $txtColor;
        padding: 0;
        &[disabled],
        &[readonly] {
            color: lighten($txtColor, 10%);
        }
    }
}
textarea {
    height: 100px;
    resize: vertical;
}
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

// dropdown
.input-dropdown {
    @include panel;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: -2px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 165px;
    @include border-top-left-radius(0);
    @include border-top-right-radius(0);
    .item {
        @extend %block;
        cursor: pointer;
        margin: 0;
        padding: 8px 10px;
        border-bottom: 1px solid $lightGreyColor;
        @include transition(background 0.2s);
        @include user-select(none);
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background: $lighterGreyColor;
        }
        &:active {
            transition-duration: 0.1s;
            background: $lightGreyColor;
        }
    }
}

// Form item wrapper
.form-group {
    @extend %block;
    position: relative;
    text-align: left;
    margin: 0 0 $baseSpacing;
    & + .form-group label {
        margin-top: -5px; /* dirty lineheight fix */
    }
    input, textarea, select {
        width: 100%;
        clear: both;
    }
    // checkbox/radio
    input[type="checkbox"],
    input[type="radio"] {
        $checkSize: 21px;
        position: absolute;
        left: -3999px; /* display:none or visibility:hidden prevent older IE versions from receiving events */
        width: 1px;
        height: 1px;
        -webkit-appearance: none;
        & ~ label {
            position: relative;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            clear: both;
            width: auto;
            margin: 0;
            min-height: $checkSize;
            line-height: $checkSize;
            padding-left: $checkSize + 10px;
            @include user-select(none);
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: $checkSize;
                height: $checkSize;
                border: 1px solid $greyColor;
                background: #fff;
                @include border-radius($baseRadius);
                @include transition(background 0.2s, border 0.2s, transform 0.1s);
            }
            &:after {
                content: "\f122";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: $checkSize;
                height: $checkSize;
                font-size: 13px;
                text-align: center;
                font-family: $iconFont;
                line-height: $checkSize;
                color: $primaryColor;
                @include transition(color 0.2s, opacity 0.2s, visibility 0.2s, transform 0.2s);
                @include hide;
                @include transform(scale(0.2));
            }
            &:active:before {
                @include transform(scale(0.8));
            }
        }
        &:checked ~ label {
            &:before {
                border-color: $primaryColor;
            }
            &:after {
                @include show;
                @include transform(scale(1));
            }
        }
    }
    input[type="radio"] {
        & ~ label:before {
            @include border-radius(50%);
        }
        & ~ label:after {
            content: "\f21b";
            font-size: 10px;
        }
    }
    // hint link
    .hint-link {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        color: $txtColor;
        cursor: pointer;
        text-decoration: none;
        &:active {
            transition-duration: 0.1s;
            color: darken($txtColor, 10%);
        }
    }

    // Sizes
    &.form-group-sm {
        margin: 0 0 20px;
        input, select {
            height: $smInputHeight;
        }
        textarea {
            height: 80px;
        }
        input[type="checkbox"],
        input[type="radio"] {
            & ~ label {
                $checkSize: 18px;
                min-height: $checkSize;
                line-height: $checkSize;
                padding-left: $checkSize + 8px;
                &:before {
                    width: $checkSize;
                    height: $checkSize;
                }
                &:after {
                    font-size: 12px;
                    width: $checkSize;
                    height: $checkSize;
                    line-height: $checkSize;
                }
            }
        }
    }

    // colored checkbox/radio
    &.check-success {
        @include form-group-check-coloring($successColor);
    }
    &.check-danger {
        @include form-group-check-coloring($dangerColor);
    }
    &.check-warning {
        @include form-group-check-coloring($warningColor);
    }
    &.check-primary {
        @include form-group-check-coloring($primaryColor);
    }
    &.check-secondary {
        @include form-group-check-coloring($secondaryColor);
    }

    // States
    &.has-error {
        input, textarea, select {
            border-color: $dangerColor;
            background: rgba($dangerColor, 0.04);
            @include placeholder(lighten($dangerColor, 5%));
        }
    }
}

// Help blocks
.help-block {
    @extend %block;
    margin: 5px 0 0;
    font-size: 13px;
    line-height: 16px;
    color: lighten($txtColor, 10%)
}
.help-block-error {
    color: $dangerColor;
}
.hint-inline-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    line-height: 1;
    i {
        font-size: 18px;
        line-height: 21px;
    }
}

/* ---- Search form ---- */
.search-form {
    $extraPadding: 40px;
    $inputHeight: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    opacity: 0.6;
    @include transition(opacity 0.2s);
    .search-icon,
    .search-reset {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: $extraPadding;
        height: $inputHeight;
        line-height: $inputHeight;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        @include transition(color 0.2s, transform 0.2s, opacity 0.2s, visibility 0.2s);
    }
    .search-reset {
        left: auto;
        right: 0;
        cursor: pointer;
        @include hide;
        @include transform(translateX(10px));
        &:hover {
            color: $dangerColor;
        }
    }
    .search-input {
        z-index: 1;
        width: 250px;
        max-width: 100%;
        padding-left: $extraPadding;
        padding-right: $extraPadding;
        height: $inputHeight;
        @include border-radius(30px);
        @include transition(color 0.2s, width 0.2s);
        border: 1px solid $greyColor;
        color: $txtColor;
    }
    &.active {
        opacity: 1;
        .search-input {
            width: 300px;
        }
    }
    &.has-text {
        .search-reset {
            @include show;
            @include transform(translateX(0px));
        }
    }
}

// Check block
.check-block {
    display: block;
    .help-block {
        display: none;
        .has-error & {
            display: block;
        }
    }
    label {
        position: relative;
        margin: 0;
        padding: 20px;
        cursor: pointer;
        text-align: center;
        background: #fff;
        border: 1px solid $greyColor;
        @include user-select(none);
        @include border-radius($baseRadius);
        @include transition(color 0.2s, background 0.2s, border 0.2s);
        &:after {
            content: "\f120";
            position: absolute;
            right: 10px;
            top: 10px;
            font-family: $iconFont;
            color: $primaryColor;
            font-size: 21px;
            line-height: 1;
            @include hide;
        }
        &:hover {
            border-color: darken($greyColor, 10%);
        }
        &:active {
            transition-duration: 0.1s;
            background: $lighterGreyColor;
        }
    }
    input {
        position: absolute;
        left: -3999px; /* display:none or visibility:hidden prevent older IE versions from receiving events */
        width: 1px;
        height: 1px;
        -webkit-appearance: none;
        &:checked ~ label {
            border-color: $primaryColor;
            &:after {
                @include show;
                @include animation(scale-entrance 0.35s forwards);
            }
        }
    }
    .icon, .txt {
        @extend %block;
    }
    .icon {
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 1;
    }
    &.compact {
        .row {
            margin: 0;
        }
        label {
            display: block;
            z-index: 0;
            width: auto;
            margin: 0 -1px;
            padding: 10px;
            @include border-radius(0);
            .txt {
                @include ellipsis;
            }
            &:after {
                top: 2px;
                right: 2px;
                font-size: 16px;
            }
        }
        input:checked ~ label {
            z-index: 1;
        }
        .check-item {
            padding: 0;
        }
        .check-item:first-child {
            label {
                margin: 0;
                @include border-top-left-radius($baseRadius);
                @include border-bottom-left-radius($baseRadius);
            }
        }
        .check-item:last-child {
            label {
                margin: 0;
                @include border-top-right-radius($baseRadius);
                @include border-bottom-right-radius($baseRadius);
            }
        }
    }
}

// Colorpicker
.color-picker {
    z-index: 99999999;
    .color-picker-control {
        overflow: hidden;
        border: 0;
        @include border-top-left-radius($baseRadius);
        @include border-top-right-radius($baseRadius);
        @include box-shadow(0px 3px 10px 0px rgba(44, 75, 137, 0.1));
    }
    .color-picker-ctrl {
        width: 50%;
        float: left;
        cursor: pointer;
        font-size: 14px;
        color: $txtColor;
        line-height: 30px;
        text-align: center;
        background: $lighterGreyColor;
        @include user-select(none);
        i {
            font-family: $iconFont;
        }
        &:hover {
            background: darken($lightGreyColor, 2%);
        }
        &.reset {
            border-right: 1px solid $greyColor;
            @include border-bottom-left-radius($baseRadius);
        }
        &.apply {
            @include border-bottom-right-radius($baseRadius);
        }
    }
}
.color-picker-input-wrapper {
    position: relative;
    input {
        background: #fff;
    }
}
.color-picker-input-handle {
    $size: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    width: $size;
    height: $size;
    margin-top: -($size / 2);
    background: transparent;
    border: 2px solid $greyColor;
    @include border-radius($size);
}
