/* ---- Hotspots ---- */
.hotspot {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 1;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    border: 1px solid $primaryColor;
    background: rgba($primaryColor, 0.3);
    @include user-select(none);
    @include border-radius($baseRadius);
    @include box-shadow(0px 0px 10px 0px rgba($primaryColor, 0.3));
    @include transition(color 0.2s, background 0.2s, transform 0.2s, opacity 0.2s, visibility 0.2s);
    // resize handle
    .resize-handle {
        $size: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: $size;
        height: $size;
        background: none;
        cursor: se-resize;
        @include transition(opacity 0.2s, visibility 0.2s, transform 0.2s);
        @include transform(translate3d(5px, 5px, 0));
        @include hide;
        &:after {
            $arrowSize: ($size - 3) / 2;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: $arrowSize solid transparent;
            border-right: $arrowSize solid $primaryColor;
            border-bottom: $arrowSize solid $primaryColor;
        }
    }
    // remove handle
    .remove-handle {
        $size: 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: $size;
        height: $size;
        color: #fff;
        text-align: center;
        line-height: $size;
        background: $primaryColor;
        @include border-top-left-radius($baseRadius);
        @include border-bottom-right-radius($baseRadius);
        @include transition(opacity 0.2s, visibility 0.2s, transform 0.2s, background 0.2s);
        @include transform(translate3d(-5px, -5px, 0));
        @include hide;
    }
    // states
    &:hover {
        z-index: 3;
        background: rgba($primaryColor, 0.4);
        .resize-handle {
            @include transform(scale(1));
            @include show;
            &:hover,
            &:active {
                @include transform(scale(1.2));
            }
        }
        .remove-handle {
            @include transform(scale(1));
            @include show;
            &:hover {
                background: $dangerColor !important;
            }
        }
    }
    &.crop-hotspot {
        background: none !important;
        @include border-radius(0);
        @include box-shadow(0px 0px 0px 340px rgba($overlayColor, 0.8));
    }
    &.bulk-select {
        z-index: 3;
        border-color: $warningColor;
        background: rgba($warningColor, 0.4);
        @include box-shadow(0px 0px 10px 0px rgba($warningColor, 0.3));
        .resize-handle:after {
            border-right-color: $warningColor;
            border-bottom-color: $warningColor;
        }
        .remove-handle {
            background: $warningColor;
        }
    }
    &.selected {
        z-index: 3;
        border-color: $successColor;
        background: rgba($successColor, 0.3);
        @include box-shadow(0px 0px 10px 0px rgba($successColor, 0.3));
        .resize-handle:after {
            border-right-color: $successColor;
            border-bottom-color: $successColor;
        }
        .remove-handle {
            background: $successColor;
        }
    }
    // layouts
    .hotspot-action-active & {
        @include pointer-events(none);
    }
    .hotspots-mode & {
        @include show;
    }
    .comments-mode & {
        @include hide;
        @include pointer-events(none);
    }
    .preview-mode & {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    .preview-mode-hint & {
        opacity: 1;
    }
    &.remove-start {
        @include hide;
        @include transform(scale(0.2));
    }
}

/* ---- Hotspot popover ---- */
.hotspot-popover {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 320px;
    height: auto;
    display: none;
    margin: 0 15px;
    @include pointer-events(none);
    &.bottom-left:before {
        border-color: transparent transparent $lightGreyColor $lightGreyColor;
    }
    .tabs {
        $tabSpacing: 20px;
        .tabs-header {
            padding: $tabSpacing $tabSpacing 0;
            .tab-item {
                width: 50%;
                &.active {
                    background: $lightGreyColor;
                    border-bottom-color: $lightGreyColor;
                }
            }
        }
        .tabs-content {
            padding: 0;
            background: $lightGreyColor;
            .tab-item {
                padding: $tabSpacing $tabSpacing 0 $tabSpacing;
                @include items-per-row(3, $tabSpacing);
            }
        }
        .tab-screens {
            padding-bottom: 0;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    // States
    .hotspot-active & {
        display: block;
        @include pointer-events(auto);
        @include animation(popover-show 0.3s);
    }
    &.close-start {
        display: block;
        @include animation(popover-hide 0.2s forwards);
    }
    .hotspot-active.hotspot-action-active & {
        display: block;
        @include pointer-events(none);
        @include animation(popover-hide 0.2s forwards);
    }
}
