// Mention list item
.mention-list-item {
    @extend %block;
    cursor: pointer;
    margin: 0;
    padding: 8px 10px;
    text-align: inherit;
    font-size: inherit;
    border-bottom: 1px solid $lightGreyColor;
    @include transition(background 0.2s);
    @include user-select(none);
    &:last-child {
        border-bottom: 0;
    }
    &:hover,
    &.active {
        background: $lighterGreyColor;
    }
    &:active {
        transition-duration: 0.1s;
        background: $lightGreyColor;
    }
}

// Missing mention list item
.mention-list-missing-item {
    @extend %block;
    padding: 8px 10px;
    margin: 0;
}

// Mention list
.mention-list {
    @include panel;
    position: relative;
    z-index: 9999;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 166px;
    text-align: left;
    font-size: $baseFontSize;
    @include border-top-left-radius(0);
    @include border-top-right-radius(0);
    display: none;
    &.active {
        display: block;
    }
    .form-group & {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -2px;
    }
    .form-group-sm & {
        .mention-list-item,
        .mention-list-missing-item {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}
