/* ---- Access form ---- */
.access-form-panel {
    @include panel;
    position: relative;
    z-index: 0;
    border: 0;
    width: 400px;
    max-width: 100%;
    display: block;
    padding: 30px;
    margin: 0 auto (2 * $baseSpacing);
    .info-block {
        @extend %block;
        text-align: center;
    }
    .logo {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        img {
            display: inline-block;
            vertical-align: top;
        }
    }
}
.access-form-wrapper {
    &.inactive {
        .access-form-panel {
            z-index: -1;
            @include animation(access-form-hide 0.3s forwards);
        }
    }
    &.active {
        .access-form-panel {
            opacity: 0;
            @include animation(access-form-show 1s 0.1s forwards);
        }
    }
}

/* ---- Preview wrapper ---- */
.preview-wrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include hide;
    .version-slider {
        @include animation(none);
    }
    &.active {
        @include show;
        @include animation(fade-in 1s forwards);
    }
}

/* ---- Preview thumbs ---- */
.preview-thumbs {
    @extend %clear-after;
    width: 800px;
    display: block;
    margin: $baseSpacing auto;
    text-align: center;
    .listing {
        @include items-per-row(5);
    }
    .preview-thumb {
        cursor: pointer;
        // float: none;
        // display: inline-block;
        // vertical-align: top;
        &:before {
            content: "";
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($overlayColor, 0.7);
            @include border-radius($baseRadius);
            @include transition(opacity 0.3s, visibility 0.3s);
            @include hide;
        }
        &:after {
            $iconSize: 25px;
            content: "\f120";
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            margin-top: -($iconSize / 2);
            margin-left: -($iconSize / 2);
            width: $iconSize;
            height: $iconSize;
            line-height: $iconSize;
            text-align: center;
            color: $successColor;
            font-size: 19px;
            font-family: $iconFont;
            @include transition(opacity 0.3s, visibility 0.3s, transform 0.3s);
            @include transform(translateY(10px));
            @include hide;
        }
        &.active {
            background: $overlayColor;
            &:before, &:after {
                @include show;
                @include transform(translateY(0px));
            }
        }
    }
}
.preview-thumbs-wrapper {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($overlayColor, 0.8);
    overflow-x: hidden;
    overflow-y: auto;
    @include v-align-helper;
    display: none;
    &.active {
        display: block;
        @include animation(fade-in 0.3s);
    }
    &.close-start {
        display: block;
        @include animation(fade-out 0.3s forwards);
    }
    .title {
        @extend %block;
        padding: 0 0 20px;
        margin: 0 0 $baseSpacing;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.2);
    }
    // .cssanimations & {
    //     &.active {
    //         @for $i from 1 through 30 {
    //             .preview-thumb {
    //                 opacity: 0;
    //             }
    //             .preview-thumb:nth-child(#{$i}) {
    //                 @include animation(translate-entrance 0.4s (0.15s * $i) forwards);
    //             }
    //         }
    //     }
    // }
}

.preview-page {
    padding: 0;
    overflow: hidden;
}
