.page-sidebar {
    position: fixed;
    z-index: $sidebarZ;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 300px;
    padding: $baseSpacing 0 (2 * $baseSpacing);
    width: $sidebarWidth;
    height: 100%;
    background: $secondaryColor;
    color: $lightSidebarColor;
    text-align: center;
    font-size: 21px;
    a {
        color: $lightSidebarColor;
        text-decoration: none;
        &:hover {
            color: $lighterSidebarColor;
        }
    }
    // Logo
    .logo {
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin: 0 0 $baseSpacing;
        img {
            vertical-align: top;
            display: inline-block;
        }
    }
    // Main menu
    .main-menu {
        @extend %block;
        margin: 0 0 $baseSpacing;
        ul {
            @extend %block;
            @include clear-list;
            text-align: center;
            li, a {
                position: relative;
                @extend %block;
            }
            a {
                padding: 12px 0;
            }
            li.active {
                a {
                    color: $lighterSidebarColor;
                    background: $lightSecondaryColor;
                }
                // highlight
                &:after {
                    $width: 3px;
                    $height: 15px;
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 50%;
                    width: $width;
                    height: $height;
                    margin-top: -($height / 2);
                    background: $successColor;
                    @include box-shadow(1px 0px 10px 1px rgba($successColor, 0.5));
                }
            }
        }
    }
    // Bug button
    .bug-report {
        position: absolute;
        left: 0;
        bottom: $baseSpacing;
        width: 100%;
    }
}
