.tabs {
    @extend %block;
    .tabs-header,
    .tabs-content {
        @extend %block;
        @extend %clear-after;
        position: relative;
    }
    // header
    .tabs-header {
        padding: 0 $baseSpacing;
        border-bottom: 1px solid $greyColor;
        .tab-item {
            position: relative;
            cursor: pointer;
            float: left;
            padding: 5px 20px;
            margin-bottom: -1px;
            background: $lighterGreyColor;
            border: 1px solid $greyColor;
            border-right-width: 0;
            text-align: center;
            font-size: 14px;
            @include user-select(none);
            @include transition(color 0.2s, background 0.2s);
            @include box-shadow(inset 0px 1px 0px 0px #fff);
            &:first-child {
                @include border-top-left-radius($baseRadius);
            }
            &:last-child {
                border-right-width: 1px;
                @include border-top-right-radius($baseRadius);
            }
            &:hover {
                background: darken($lightGreyColor, 1%);
            }
            &:active {
                .txt {
                    @include transform(translateY(1px));
                }
            }
            &.active {
                background: #fff;
                border-bottom-color: #fff;
            }
        }
    }
    // content
    .tabs-content {
        padding: $baseSpacing;
        @include transition(none);
        .tab-item {
            @extend %clear-after;
            width: 100%;
            display: none;
            @include transition(none);
        }
        .tab-item.active {
            display: block;
        }
    }
}
