// paths
$fontsPath:  '../fonts';
$imagesPath: '../images';

// fonts
$baseFont: 'Ubuntu', Arial, Helvetica, sans-serif;
$iconFont: 'Ionicons';

// colors
$primaryColor:        #5f66c1;
$secondaryColor:      #322955;
$lightSecondaryColor: lighten($secondaryColor, 3%);
$successColor:        #1fd690;
$warningColor:        #ffbe06;
$dangerColor:         #fd6868;
$greyColor:           #d8dfe1;
$lightGreyColor:      #eff2f3;
$lighterGreyColor:    lighten($lightGreyColor, 1.6%);
$txtColor:            #676d7d;
$lightSidebarColor:   #7d73a7;
$lighterSidebarColor: lighten($lightSidebarColor, 10%);
$overlayColor:        #2e364e;

// sizes
$baseFontSize:        14px;
$baseSpacing:         30px; // padding and margin
$baseRadius:          3px;
$sidebarWidth:        70px;
$projectSidebarWidth: 200px;
$pageMinWidth:        900px;

$inputHeight:   45px;
$smInputHeight: 40px;
$lgInputHeight: 50px;
$xsInputHeight: 36px;

$headerHeight:     88px;
$footerHeight:     85px;

$controlPanelMenuHeight: 55px;

// others
$sidebarZ:    100;
$screenEditZ: 200;
$popupZ:      300;
