/* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/inter/inter-v18-cyrillic_latin_latin-ext-500.woff2') format('woff2');
}

/* inter-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/inter/inter-v18-cyrillic_latin_latin-ext-600.woff2') format('woff2');
}
